body {
    background: #fff;
}
a {
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 0 5px;
    margin-top: 20px;
    display: block;
}
.abts {
    display: flex;
    justify-content: space-between;
}
.block1, .block2 {
    width: 50%;
}
.block1 img {
    display: flex;
    margin: 10px 0;
    height: 50%;
    width: 95%;
}
.block2 p {
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}