header {
    background: #000;
    color: white;
}
header .container {
    display: flex;
    justify-content: space-between;
}
header .container > a {
    color: #fff;
    font-size: 50px;
    margin: 26px 0;
    text-decoration: none;
}
.mainNav a {
    border: 2px solid #000;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    margin: 40px 18px;
    padding: 2px 4px;
    display: inline-block;
}
.mainNav a:hover {
    border: 2px solid #ffffff;

}