.infoBlock {
    border: 3px solid #2a92e5;
    background: #000;
    color: #2a92e5;
    text-align: center;
}
.infoBlock h3 {
    font-size: 40px;
    margin: 35px auto 15px;
}
.infoBlock p {
    width: 38%;
    line-height: 2.2;
    margin: 0 auto;
}