.motivationalQuote {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.motivationalQuote p {
    font-size: 33px;
    margin: 0;
}
.motivationalQuote span {
    font-size: 35px;
}