@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Major+Mono+Display|Permanent+Marker|Staatliches');
body {
    background: #fff;
    color: #000;
    font-size: 22px;
    font-family: 'Staatliches', cursive;
}
.container {
    width: 1171px;
    margin: 0 auto;
}